.DS_store
.nexcloudsync.log

!historical/

.asdf/data/*/

.atuin/.data/
.atuin/data/

.copy/*.dat
.davfs2/

# .filecentipede/lib/

# .msmtp/*.log

.neovim/
.neovim/*/

.openaudible/tmp/

.tmux/plugins/*/

.qute/__pycache__/

.zen/

.zsh/.historical/
.zsh/history/
.zsh/plugins/*/
.zsh/themes/minimal/
.zsh/themes/typewritten/

