.DS_store

.nexcloudsync.log

!historical/

.asdf/data/*/

.atuin/**/*.db
.atuin/**/*.db-shm
.atuin/**/*.db-wal

.copyq/*.dat
.copyq/copyq.lock


.davfs2/

# .filecentipede/lib/

# .msmtp/*.log

.neovim/
.neovim/*/

# .openaudible/tmp/

.qute/__pycache__/

.tmux/plugins/*/

.zen/

.zsh/.historical/
.zsh/history/
.zsh/plugins/zsh*/
.zsh/themes/minimal/
.zsh/themes/typewritten/
!.zsh/plugins/git_repos.txt

