:root {
  *:not(toolbarbutton) {
    border-radius: 0 !important;
  }
}

#navigator-toolbox[zen-sidebar-expanded="true"],
#zen-sidebar-splitter,
#zen-appcontent-wrapper{
  background-color: black !important;
}

#navigator-toolbox[zen-sidebar-expanded="true"] {
  & #tabbrowser-tabs {
    --tab-inline-padding: 10px;
  }
}

#zen-sidebar-splitter {
  opacity: 1 !important;
  min-width: 1px !important;
}

.tab-group-label-container {
  #tabbrowser-tabs[orient="vertical"][expanded] & {
    margin: 0 !important;
    display: grid !important;
    grid-template-columns: 1fr;
  }
}

.tab-group-label {
  #tabbrowser-tabs[orient="vertical"][expanded] & {
    margin-inline-start: 0px !important;
    margin-inline-end: 0 !important;
    padding-inline: 10px !important;
    padding-block: 5px !important;
  }
}

toolbarbutton {
  border-radius: 0 !important;
}

.zen-current-workspace-indicator {
  &::before {
    border-radius: 0 !important;
  }
}

