aria2 system
asdf-helper 0.6.0
asdf-plugin-manager 1.4.0
assh 2.16.0
atuin 18.4.0
cmake 3.31.0
delta 0.18.2
direnv 2.35.0
eza 0.20.24
fd 10.2.0
ffmpeg 7.1
fzf 0.61.0
git system
github-cli 2.60.1
gitui 0.26.1
jq 1.7.1
lazydocker 0.24.1
lazygit 0.48.0
lua 5.4.7
mkcert 1.4.4
mysql system
neovim 0.11.0
nodejs system
php system
pipx 1.7.1
python 3.12.3
ripgrep 14.1.1
ruby 3.3.6
tmux 3.5a
tool-versions-to-env 1.0.8
yarn 1.22.22
yay system
zoxide 0.9.7
