asdf-helper 0.6.0
asdf-plugin-manager 1.4.0
atuin 18.3.0
direnv 2.34.0
eza 0.20.4
fzf 0.55.0
git system
github-cli 2.60.1
gitui 0.26.1
lazydocker 0.23.3
lazygit 0.44.1
mkcert 1.4.4
neovim 0.10.2
nodejs system
pipx 1.7.1
python 3.12.3
ripgrep 14.1.1
tmux 3.5a
tool-versions-to-env 1.0.8
yarn 1.22.22
zoxide 0.9.6
delta 0.18.2
