lazydocker 0.23.3
github-cli 2.60.1
git 2.47.0
gitui 0.26.1
python 3.12.3
direnv 2.35.0
zoxide 0.9.6
eza 0.20.8
fzf 0.56.3
lazygit 0.44.1
mysql system
asdf-plugin-manager 1.4.0
ripgrep 14.1.1
tmux 3.5a
neovim 0.10.2
nodejs system
mkcert 1.4.4
tool-versions-to-env 1.0.8
atuin 18.3.0
pipx 1.7.1
yay system
yarn 1.22.22
asdf-helper 0.6.0
aria2 system
assh 2.16.0
php system
cmake 3.31.0
delta 0.18.2
fd 10.2.0
luajit 2.0.5--3.11.1
lua 5.4.7
ruby system
jq 1.7.1
ffmpeg 7.1
